@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @ViewData["featureinfo"]<br />
    @ViewData["ImageSize"]<br />
    @ViewData["BuildingsSizes"]<br />
    @ViewData["BuildingsSizesSum"]<br />
    @ViewData["ImageLocalSize"]<br />
</div>
<img src="data:image/png;base64, @ViewData["image"]" height="@ViewData["ImageHeight"]" />
<img src="data:image/png;base64, @ViewData["image2"]" height="@ViewData["ImageHeight"]" />